* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html, body{
    overflow-x: hidden;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/Holdtræningforside.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #00bbdd;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #00bbdd;
    background-color: #00bbdd;
    transition: 0.5s;
}

nav .fas{
    display: none;
}

@media(max-width: 700px){
.text-box h1{
    font-size: 20px;
}
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #00bbdd;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fas{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}
}
/*Vores Tilbud*/
.vorestilbud{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.vorestilbud-col{
    flex-basis: 31%;
    background: #bee2ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.vorestilbud-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*Vi tilbyder*/

.tilbyde{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.tilbyde-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.tilbyde-col img{
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.holdtræningh3{
    color: white;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.layer:hover{
    background: rgba(0, 173, 226, 0.7);
}

/*Instruktører*/
.instr{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.instr-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.instr-col img{
    width: 100%;
    border-radius: 10px;
}
.instr-col p{
    padding: 0;
}
.instr-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*Reviews*/
.review{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.review-col{
  flex-basis: 44%;
  margin-bottom: 5%;
  text-align: left;
  background: #bee2ff;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.review-col p{
    padding: 0;
}
.review-col h3{
    margin-top: 15px;
    text-align: left;
}
.review-col .fas{
    color: rgb(0, 174, 255);
}
@media(max-width: 700px) {
    .review-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
    
}
.cta{
    margin:100px auto;
    width: 80%;;
}
.holdplan{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #02648C;
    justify-content: space-evenly;
    padding-top: 20px;
    
}
.footer, .footer h3, .footer p{
    color: white;
    
}
.footer p {
    font-size: 0.8em;
}
.footermid .fab{
    margin: 20px;
    font-size: 50px;
    text-decoration: none;
    color: white;
}
.logohvid{
    max-width: 170px;
    margin-right: auto;
    margin-left: auto;
}
@media(max-width: 700px){
    .footer, .footer h3, .footer p{
        font-size: 0.9em;
    }
        .footermid .fab{
            margin: 20px;
            font-size: 40px;
        }
    .footer{
        flex-direction: column;
        align-items: center;
        
    }
    .footerright{
padding-bottom: 60px;
    }
    .footermid{
padding-bottom: 60px;
    }
}
.footerlinks{
    text-decoration: none;
}
